body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3 {
    font-family: 'Tiny5';
}

.minesweeper-button, .minesweeper-button:hover {
    font-family: 'Tiny5', cursive;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    background-color: #d4d4d4;
    border: 2px solid #bcbcbc;
    border-right-color: #eaeaea;
    border-bottom-color: #eaeaea;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    min-width: 100px;
    text-align: center;
    border-radius: 0;
    outline: none;
}

.minesweeper-button:active, 
.minesweeper-button:focus {
    font-family: 'Tiny5', cursive;
    font-size: 12px;
    text-transform: uppercase;
    color: black !important;
    background-color: #d4d4d4 !important;
    border: 2px solid #eaeaea !important;
    border-right-color: #bcbcbc !important;
    border-bottom-color: #bcbcbc !important;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    min-width: 100px;
    text-align: center;
    border-radius: 0;
    box-shadow: none !important;
}

.minesweeper-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
    margin: 0;
    border: none;
}

.cell {
    height: 24px;
    width: 24px;
    display: block;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

.closed {
    background-image: url('buttons/closed.png');
}

.open1 {
    background-image: url('buttons/1.png');
}

.open2 {
    background-image: url('buttons/2.png');
}

.open3 {
    background-image: url('buttons/3.png');
}

.open4 {
    background-image: url('buttons/4.png');
}

.open5 {
    background-image: url('buttons/5.png');
}

.open6 {
    background-image: url('buttons/6.png');
}

.open7 {
    background-image: url('buttons/7.png');
}

.open8 {
    background-image: url('buttons/8.png');
}

.empty {
    background-image: url('buttons/empty.png');
}

.oops {
    background-image: url('buttons/oops.png');
}

.mine {
    background-image: url('buttons/mine.png');
}

.flag {
    background-image: url('buttons/flag.png');
}
