{% extends "layout.html" %}

{% block title %}
    Play!
{% endblock %}

{% block main %}
    {% block body %}
    <div class="wrapper">
        <div class="header">
            <h1>Minesweeper</h1>
        </div>
        
        <div class="section">
            <div class="header">
                <h3>Play!</h3>
            </div>
            
            <div class="container">
                <table class="rows{{rows}} columns{{columns}} mines{{mines}}">
                    {% for row in range(rows) %}
                        <tr>
                            {% for cell in range(columns) %}
                                <td>
                                    <button
                                        class="cell closed"
                                        data-row="{{row}}"
                                        data-column="{{cell}}"
                                        onclick="processCellClick(event)"
                                        oncontextmenu="processCellRightClick(event)"
                                    ></button>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
