{% extends "layout.html" %}

{% block title %}
    Choose your game
{% endblock %}

{% block main %}
    {% block body %}
        <h1>Minesweeper</h1>

        <h3>Choose your game</h3>
        <form action="/create" method="get">
            <input class="btn btn-primary" type="submit" name="mode" value="Small: 9×9, 10 mines">
            <input class="btn btn-primary" type="submit" name="mode" value="Medium: 16×16, 40 mines">
            <input class="btn btn-primary" type="submit" name="mode" value="Hard: 30×16, 99 mines">
            <input class="btn btn-primary" type="submit" name="mode" value="Extreme: 24×30, 160 mines">
        </form>
    {% endblock %}
{% endblock %}
